<form [formGroup]="roleForm" (ngSubmit)="saveRole()" class="form">
  <h1>{{ data.id ? 'Edit User' : 'Create User' }}</h1>
  <input type="email" matInput formControlName="name" placeholder="Name" />
  <div class="buttons">
    <button class="form-group-btn" type="button" (click)="closeDialog()">
      <i class="fa fa-times" aria-hidden="true"></i>
    </button>
    <button class="form-group-btn" type="submit" [disabled]="!roleForm.valid">
      <i class="fa fa-floppy-o" aria-hidden="true"></i>
    </button>
  </div>
</form>
