form {
  font-family: "Poppins";
  font-size: 22px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 40px 50px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
}

form h1 {
  font-size: 30px;
}

.form-group {
  margin-bottom: 20px;
  width: 400px;
}

mat-icon {
  padding: 20px;
}

.form-group .mat-mdc-form-field {
  width: 400px;
  margin-bottom: 30px;
  margin-top: 20px;
}
.alert-danger {
  font-size: 15px;
  font-family: "Poppins";
  color: #9c1825;
}

.welcome-back {
  font-size: 15px;
  font-family: "Poppins";
  color: #00ff3c;
}


.alreadyaccount {
  font-size: 17px;
  font-family: "Poppins";
  padding-top: 20px;
  padding-left: 5px;
}
.alreadyaccount a {
  color: blue;
  text-decoration: none;
  font-weight: bold;
}

.form-group-btn {
  display: block;
  padding: 10px;
  font-size: 20px;
  width: 405px;
  font-weight: bold;
  line-height: 1.5;
  color: #fff;
  background-color: blue;
  border: 1px solid blue;
  border-radius: 10px;
  transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
  box-sizing: border-box;
}

.form-group-btn:hover {
  background-color: hsl(246, 90%, 45%);
  border-color: hsl(246, 90%, 45%);
}

.alert-danger {
  font-size: 16px;
  font-family: "Poppins";
  color: #9c1825;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.welcome-back {
  width: 400px;
  background-color: white;
  height:200px;
  font-size: 25px;
  font-family: "Poppins";
  color: #00ff3c;
  border: 1px solid white;
  border-radius: 20px;
  margin: 0 auto;
}
