.col-md-12 .card-container {
  font-family: 'Poppins';
  font-size: 22px;
  max-width: 400px;
  margin: 0 auto;
  margin-top: 90px;
  padding: 40px 50px;
  border: 1px solid white;
  background-color: white;
  border-radius: 20px;
}

  .form-group {
  margin-bottom: 20px;
  }

.form-group .input-icons{
  margin-bottom: 40px;
  display:flex;
  align-items: center;
}
  label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  }

.createnewaccount{
  font-size: 30px;
  font-family: 'Poppins';
  padding-bottom: 30px;
  font-weight: bold;
}
.alreadymember{
  font-size: 17px;
  font-family: 'Poppins';
  padding-top: 0px;
  padding-left: 5px;
}
.input-icons .icon {
  position: absolute;
  padding: 10px;
  padding-top: 1px;
  min-width: 40px;
  text-align: center;
}
.input-icons input {
  padding-left: 45px;
}

.alreadymember a{
  color:blue;
  text-decoration: none;
  font-weight: bold;
}
  .form-control {
  display: block;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  padding-top: 10px;
  padding-bottom: 20px;
  color: #555;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  }


  .form-group .btn-primary {
    display: block;
    padding: 10px;
    font-size: 20px;
    width: 405px;
    font-weight: bold;
    line-height: 1.5;
    color: #fff;
    background-color:blue;
    border: 1px solid blue;
    border-radius: 10px;
    transition: background-color 0.2s ease-in-out, border-color 0.2s ease-in-out;
    box-sizing: border-box;
  }

  .form-group .btn-primary:hover {
  background-color: hsl(246, 90%, 45%);
  border-color: hsl(246, 90%, 45%);
  }
  .card-container .alert-danger {
    font-size: 16px;
    padding-left: 5px;
  }

  .alert-danger {
  color: #9c1825;
  }

  .alert-success {
  color: #00ff3c;
}

 input[type="text"]
{
    font-size:24px;
}
input[type="email"]
{
    font-size:24px;
}
input[type="password"]
{
    font-size:24px;
}
